.lighter-blue-bg{
  background: #66c1e5;
}

.darker-blue-bg{
  background: #51b8e1;
}

.red-bg{
  background: #e6b3b3;
}

.biggest-font{
  font-size: 4.5vh;
}

.big-font{
  font-size: 3.5vh;
}

.normal-font{
  font-size: 2.5vh;
}

.prestype-image{
  width: 30vh;
  height: 30vh;
}
