<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-buttons>
        <ion-button (click)="gotoHome()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
        Settings
      </ion-buttons>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Time</ion-label>
    <ion-input [(ngModel)]="settings.time" type="number" placeholder="default: 60"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Number of Parties</ion-label>
    <ion-input [(ngModel)]="settings.partynumber" type="number" placeholder="default: 2"></ion-input>
  </ion-item>
  <ion-item>
    <p>
      <ion-label>Rerolls</ion-label>
      <ion-input [(ngModel)]="settings.rerolls" type="number" placeholder="default: 1"></ion-input>
    </p>
    set to ''-1' for infinite
  </ion-item>
  <ion-item>
    <p>
      <ion-label>max. Roundnumber</ion-label>
      <ion-input [(ngModel)]="settings.maxRounds" type="number" placeholder="default: infinite"></ion-input>
    </p>
    set to ''-1' for infinite
  </ion-item>
  <ion-item>
  <ion-label>Words</ion-label>
  <ion-select [(ngModel)]="settings.words">
    <ion-select-option value="deutsch">Deutsch</ion-select-option>
  </ion-select>
</ion-item>
</ion-content>
